* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  width: 100%;
  height: 100vh;
}

Link {
  cursor: pointer;
}

.label {
  margin-top: 12px;
}

/* NavBar CSS */
.BoxFormInscription {
  font-family: "futura";
}

/* .btn_nav {
  padding: 0 20px;
} */

/*  Formulaire d'inscription : Inscription => Inscriptionform  */

.inscription {
  padding: 40px 0 40px 0;
  background-image: url(https://mapetiteroberouge.fr/cdn/shop/files/MaPetiteRobeRouge_3846.jpg?v=1707484438&width=2000);
}

.title_inscription,
.title_connexion {
  padding: 0px 0 20px 0;
}

.FormInscription {
  border-radius: 10px;
  border: 1px solid #dfcbb7;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(15px);
}

/*  Connexion */

.connexion {
  padding: 40px 0 60px 0;
  background-image: url(https://mapetiteroberouge.fr/cdn/shop/files/MaPetiteRobeRouge_3846.jpg?v=1707484438&width=2000);
}

.formConnexion {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfcbb7;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(15px);
}

/* Footer */

.BOX_footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgb(34, 34, 34);
}

.FooterBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .cotact_nav {
  display: flex;
} */

.nav_Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
