* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "futura";
}

:root {
  width: 100%;
  height: 100vh;
}

Link {
  cursor: pointer;
}

.label {
  margin-top: 12px;
}

/* NavBar CSS */
.BoxFormInscription {
  font-family: "futura";
  color: black;
}

/* .btn_nav {
  padding: 0 20px;
} */

/*  Accueil  */

.Title_bestseller {
  margin: 40px;
  display: flex;
  font-weight: 600;
  line-height: 1.2;
}

.AccueilDisplay {
  display: Grid;
  margin-bottom: 40px;
  justify-content: center;
  grid-template-columns: repeat(3, 330px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  gap: 25px;
}

@media screen and (max-width: 900px) {
  .AccueilDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
  }
}

@media screen and (max-width: 450px) {
  .AccueilDisplay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
  }
}

/*  Formulaire d'inscription : Inscription => Inscriptionform  */

.inscription {
  padding: 40px 0 40px 0;
  background-image: url(https://mapetiteroberouge.fr/cdn/shop/files/MaPetiteRobeRouge_3846.jpg?v=1707484438&width=2000);
}

.title_inscription,
.title_connexion,
.title_Caftan,
.title_user {
  padding: 0px 0 20px 0;
}

.FormInscription {
  border-radius: 10px;
  border: 1px solid #dfcbb7;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(15px);
}

/*  Connexion */

.connexion {
  padding: 40px 0 60px 0;
  background-image: url(https://mapetiteroberouge.fr/cdn/shop/files/MaPetiteRobeRouge_3846.jpg?v=1707484438&width=2000);
}

.formConnexion {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfcbb7;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(15px);
}

/* Page Caftan (title + Produie) */

.Caftans {
  padding: 40px 0 60px 0;
}

.displayCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 900px) {
  .displayCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 450px) {
  .displayCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
.Card {
  border-radius: 10px;
  border: #dfcbb7;
}

/* Page à Propos */
.Apropos {
  padding: 40px 0 40px 0;
}

/*Page contact*/

/*  Page panier  */

.box_panier {
  display: block !important;
}

/*Page Profile*/

.title_profile {
  padding: 40px 0 60px 0;
}

/* Page admin (liste utilisateur + form) */

.box_user {
  padding: 40px 0 60px 0;
}

.chakra-button__icon,
.css-1wh2kri {
  margin: 0;
}

.form_modal {
  border-radius: 10px;
  border: 1px solid #dfcbb7;
  background: rgba(255, 255, 255, 0.201);
  backdrop-filter: blur(15px);
}

/* Page Produit individuel*/

.css-ujfbxg {
  max-width: 500px !important;
}
.css-1hmdc9i {
  margin: 0 !important;
  padding: 0 !important;
}

/* @media screen and (max-width: 750px) { */
/* Image */
/* .css-1sr2rhu {
    margin: 0px !important;
  }
} */

/* Footer */

.BOX_footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: rgb(34, 34, 34);
}

.FooterBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .cotact_nav {
  display: flex;
} */

.nav_Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* ScrollToTopButton */

.scroll-to-top {
  position: fixed;
  bottom: 350px;
  right: 20px;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 999;
}

.btn_scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top.show {
  opacity: 1;
}

.scroll-to-top button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
}

.scroll-to-top button:hover {
  background-color: #555;
}
